Repository mehunk/vite-templates: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "src/**/*.{js,vue}": "eslint --fix",
  "src/**/*.{vue,html,less,css}": "stylelint --fix"
}

feat: 完成 Vue 基础框架
  README.md
  package.json
  pnpm-lock.yaml
  src/api/index.js
  src/auto-imports.d.ts
  src/components.d.ts
  vite.config.js
Due: eslint --fix

chore: 升级依赖项
  README.md
  locales/en-US.yml
  locales/en-US/hello-world.yml
  locales/en-US/index.js
  locales/zh-CN.yml
  locales/zh-CN/hello-world.yml
  locales/zh-CN/index.js
  package.json
  pnpm-lock.yaml
  src/assets/images/.gitkeep
  src/auto-imports.d.ts
  src/utils/i18n.js
  src/vendors/i18n.js
  src/views/.gitkeep
Due: eslint --fix

chore: 安装 AntD 相关依赖
  package.json
  pnpm-lock.yaml
  vite.config.js
Due: none

chore: 升级依赖库版本
  .stylelintrc.json
  README.md
  package.json
  pnpm-lock.yaml
  src/components.d.ts
  src/components/HelloWorld.vue
  src/main.js
  src/store/index.js
  src/store/mutation-types.js
  src/store/mutations.js
  src/stores/counter.js
  src/vendors/pinia.js
Due: eslint --fix, stylelint --fix

chore: 增加优化指令和过滤器的自动导入，并优化导入方式
  package.json
  pnpm-lock.yaml
  src/components/HelloWorld.vue
  src/directives/.gitkeep
  src/filters/.gitkeep
  src/filters/date.js
  src/main.js
  src/vendors/dayjs.js
Due: eslint --fix, stylelint --fix

feat: 手动引入 AntD 的部分样式
  README.md
  src/vendors/ant-design-vue.js
Due: eslint --fix

feat: 自定义公共基础路径
  .vscode/extensions.json
  package.json
  src/App.vue
  src/components.d.ts
  src/graphql/.gitkeep
  src/layouts/.gitkeep
  src/router/index.js
  vite.config.js
Due: eslint --fix, stylelint --fix
